body{
    margin: 0 auto;
}


.row{
    margin: 10px 10px;
}
img{
    margin:auto;

}
#header{
    background-color: bisque;

}

#instructions{
    /* background-color: aqua; */

}

#target{
    background-color: aqua;
    text-align: center;
    font-size: 30px;
    font-weight: 500;

}
#record{
    background-color: aqua;

}
#currentScore{
    background: whitesmoke;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}